* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
}

@font-face {
    font-family: "NFL";
    src: url("NFL/62f21f04317a4fcf65fd6177f6bda3a3.eot?") format("eot"), url("NFL/62f21f04317a4fcf65fd6177f6bda3a3.woff") format("woff"), url("NFL/62f21f04317a4fcf65fd6177f6bda3a3.ttf") format("truetype"), url("NFL/62f21f04317a4fcf65fd6177f6bda3a3.svg#NFL") format("svg");
    font-weight: normal;
    font-style: normal;
}

#main-container {
    background: #ddd;
    /*position: relative;*/
    width: 100vw;
    height: 200vh;
}

.content {
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
    background: red;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    font-family: NFL;
    color: white;
}

.centered {
    text-align: center;
}

.standings {
    display: grid;

    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.standings-content {
    font-size: 15px;
}

.sim {
    margin: 10px;
    color: darkblue;
}

.sim:active {
    border: 2px solid white;
}

.big-chart {
    display: flex;
}

.standings-table {
    flex: 1;
}

.nav {
    position: relative;
    height: 60px;
    width: 100vw;
    background: #0159DE;
}

.nav-list {
    flex: 1;
    /*background: red;*/
    border: 1px solid black;
    height: 100%;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.nav-container {
    position: relative;
    left: 30px;
    width: 30%;
    height: 100%;
    display: flex;
    background: green;
    list-style-type: none;
}

















































/**/